{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <style>
        .fa-star {
            color: #ffd931;
        }
    </style>

{% endblock %}
{% block title %}UpFlix cutre{% endblock %}

{% block content %}
    <div class="container">
        <h1>SERIES:</h1>
        <table class="table table-hover">
            <thead class="thead-dark">
            <tr>
                <th>Titulo</th>
                <th>Descripcion</th>
                <th>Fecha de Estreno</th>
            </tr>
            </thead>
            <tbody>
            {% for serie in series %}
                <tr>
                    <td>{{ serie.titulo }}</td>
                    <td>{{ serie.getDescripcion() }}</td>
                    <td>{{ serie.fechaDeEstreno | date('d-m-Y') }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
