<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        {% block header %}PADRE{% endblock %}
        {% block side %}{% endblock %}
        {% block content %}PADRE{% endblock %}
        {% block footer %}PADRE{% endblock %}
    </body>
</html>
