{% extends 'base.html.twig' %}

{% block content %}
<div class="container">
    <h1>Editar Pelicula:</h1>
    {% for message in app.flashes('success') %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
    {{ include('_form.html.twig', { button_text: 'Actualizar' }) }}
</div>
{% endblock %}
